/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
            140deg,
            #1e1e1e 5%, /*  ExpressJS */
            #0066cc 25%, /* TypeScript */
            #28a745 75%, /* MongoDB */
            #00d8ff 85% /* React */
    );
    /*   color: #F7DF1E; !* <-- JavaScript yellow for text *!
       text-shadow: 1px 1px 4px #00000088;}*/
}

.heroBanner h1 {
    color: #F7DF1E; /* JavaScript yellow */
    text-shadow: 1px 1px 4px #00000088;
}

.heroBanner p {
    color: #ffffff; /* biały podtytuł dla kontrastu */
    text-shadow: 1px 1px 4px #00000088;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
.buttons button,
.buttons a {
  background-color:#ece008 ; /* kolor Node.js */
  color: #0066cc !important;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.buttons button:hover,
.buttons a:hover {
  background-color: #0066cc;
  color: #ece008 !important;
}

/*
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
